In [ ]:
#We are gonna make a model to predict the trip price according to the date

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Reading Data

In [9]:
#Seaborn is a Python data visualization library based on matplotlib
#It provides a high-level interface for drawing attractive and informative statistical graphics

In [14]:
train_data = pd.read_excel(r'C:\Users\Siamak\Desktop\MasterStudium\Data Science\Udemy-DSRW\Practice\Flight Price/Data_Train.xlsx')

In [ ]:
#pandas.read_excel: Read an excel file into a panda DataFrame
#Supports xls, xlsx, xlsm, xlsb, odf, ods and odt file extensions read from a local filesystem or URL
#For local system, after finding path we should use back-slash with followin file name with the format extention

In [16]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
#head() function is used to get the first n rows
#It is useful for quickly testing if your object has the right type of data in it
#For negative values of n , it returns all rows except the last n rows
#By default, it shows first 5 rows

# Deal with missing Values

In [20]:
train_data.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [ ]:
#The isna() function is used to detect missing values

In [9]:
train_data.shape

(10683, 11)

In [ ]:
#indicates the number of rows and columns

In [21]:
train_data.dropna(inplace=True)

In [ ]:
#Pandas DataFrame dropna() function is used to remove rows and columns with Null/NaN values

# Cleaning Data for Analysis and Modelling

In [22]:
train_data.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [12]:
train_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [ ]:
#Indicates the data type of variables

In [25]:
def change_datetime(col):
    train_data[col] = pd.to_datetime(train_data[col])

In [ ]:
#pd.to_datetime: Convert argument to datetime

In [14]:
train_data.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [ ]:
#List the columns in the form of list

In [26]:
for i in ['Date_of_Journey','Dep_Time', 'Arrival_Time']:
    change_datetime(i)

In [27]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2021-11-23 22:20:00,2021-03-22 01:10:00,2h 50m,non-stop,No info,3897
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,2021-11-23 05:50:00,2021-11-23 13:15:00,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,2021-11-23 09:25:00,2021-06-10 04:25:00,19h,2 stops,No info,13882
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU → NAG → BLR,2021-11-23 18:05:00,2021-11-23 23:30:00,5h 25m,1 stop,No info,6218
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR → NAG → DEL,2021-11-23 16:50:00,2021-11-23 21:35:00,4h 45m,1 stop,No info,13302

In [28]:
train_data.dtypes

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time           datetime64[ns]
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
dtype: object

In [31]:
train_data['trip_day'] = train_data['Date_of_Journey'].dt.day
train_data['trip_month'] = train_data['Date_of_Journey'].dt.month

In [ ]:
#For machine learnin model, it is better to seperate the date i months and day

In [21]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,trip_day,trip_month
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2021-11-18 22:20:00,2021-03-22 01:10:00,2h 50m,non-stop,No info,3897,24,3
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,2021-11-18 05:50:00,2021-11-18 13:15:00,7h 25m,2 stops,No info,7662,5,1
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,2021-11-18 09:25:00,2021-06-10 04:25:00,19h,2 stops,No info,13882,6,9
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU → NAG → BLR,2021-11-18 18:05:00,2021-11-18 23:30:00,5h 25m,1 stop,No info,6218,5,12
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR → NAG → DEL,2021-11-18 16:50:00,2021-11-18 21:35:00,4h 45m,1 stop,No info,13302,3,1

In [33]:
train_data.drop('Date_of_Journey',axis=1,inplace=True)

In [ ]:
#Droping rows(axis=0) or columns(axis=1)
#If False, return a copy. Otherwise, do operation inplace and return None.

In [34]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,trip_day,trip_month
0,IndiGo,Banglore,New Delhi,BLR → DEL,2021-11-23 22:20:00,2021-03-22 01:10:00,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2021-11-23 05:50:00,2021-11-23 13:15:00,7h 25m,2 stops,No info,7662,5,1
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2021-11-23 09:25:00,2021-06-10 04:25:00,19h,2 stops,No info,13882,6,9
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,2021-11-23 18:05:00,2021-11-23 23:30:00,5h 25m,1 stop,No info,6218,5,12
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,2021-11-23 16:50:00,2021-11-23 21:35:00,4h 45m,1 stop,No info,13302,3,1

In [47]:
def extract_hour(df,col):
    df[col,'_hour'] = df[col].dt.hour
    
def extract_min(df,col):
    df[col,'_min'] = df[col].dt.minute
    
def drop_column(df,col):
    df.drop(col,axis=1,inplace=True)

In [48]:
# Defining function to split the time to min & hour

In [ ]:
extract_hour(train_data,'Dep_Time')
extract_min(train_data,'Dep_Time')
drop_column(train_data,'Dep_Time')

In [50]:
extract_hour(train_data,'Arrival_Time')
extract_min(train_data,'Arrival_Time')
drop_column(train_data,'Arrival_Time')

In [51]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,trip_day,trip_month,"(Dep_Time, _hour)","(Dep_Time, _min)","(Arrival_Time, _hour)","(Arrival_Time, _min)"
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,5,1,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,6,9,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,5,12,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,3,1,16,50,21,35

In [52]:
 duration = list(train_data['Duration'])

In [59]:
for i in range(len(duration)):
    if len(duration[i].split(' ')) == 2:
        pass
    else:
        if 'h' in duration[i]:
            duration[i] = duration[i] + ' 0m'
            
        else:
            duration[i] = '0h ' + duration[i]

In [ ]:
#Separating the hour and the min and systemize the format
#Works based on the space between h & m

In [60]:
train_data['Duration'] = duration

In [ ]:
# Updating the Duration in Dataframe

In [61]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,trip_day,trip_month,"(Dep_Time, _hour)","(Dep_Time, _min)","(Arrival_Time, _hour)","(Arrival_Time, _min)"
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,5,1,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h 0m,2 stops,No info,13882,6,9,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,5,12,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,3,1,16,50,21,35